<div class="container title">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1>
                The Cocktail DB
            </h1>
        </div>
        <div class="col-12">
            <h2>
                All your favourite cocktails in one place
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>
                Browse our services
            </h4>
        </div>
        <div class="col-6">
            <a [routerLink]="['../list']" class="px-3">Browse all the cocktails</a>
        </div>
        <div class="col-6">
            <a [routerLink]="['add']" class="px-3">Add your own cocktail</a>
        </div>
    </div>
</div>

